[Desktop Entry]
Comment=Launch Pipewire
Exec=/usr/bin/pipewire
GenericName=
Name=PipeWire
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
